
.myDialog{
    -fx-background-color: #2193F3;
}

.myDialog > *.button-bar > *.container{
    -fx-background-color: #ffffff;
}

.myDialog > *.label.content{
    -fx-font-size: 5px;
    -fx-font-weight: bold;
}

.myDialog:header *.header-panel{
    -fx-background-color: #2193F3;
}

.myDialog:header *.header-panel *.label{
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-fill: #292929;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}